/* Define CSS Variables */
:root {
  --primary-color: #3874CB; /* Default primary color */
  --secondary-color: #429488; /* Default secondary color */
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #424242;
  color: #d8d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 0 0 1rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.top-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.top-buttons button:hover img {
  filter: brightness(1.2);
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-button {
  color: white;
  margin: 0 8px;
}

.current-time {
  font-size: 34px;
  font-weight: 100;
  color: #a5a5a5;
  margin-bottom: 3px;
  margin-left: -5px;
}

.timeline {
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.timezone {
  margin-bottom: 20px;
}

.timezone-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}

.city-info {
  text-align: left;
}

.city {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
}

.info {
  font-size: 16px;
  font-weight: 400;
  color: #c1c1c1;
}

.time {
  font-size: 16px;
  color: #fff;
}

.time-row {
  display: flex;
  position: relative;
  overflow-x: visible;
  white-space: nowrap;
  height: 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  background: rgb(227, 242, 253);
  border-bottom: rgb(48, 48, 48);
}

.hour {
  color: #404040;
  width: 100%; /* Ensure the hour takes up the full width of the container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px; /* Adjust padding as needed */
  height: 100%; /* Ensure the hour element takes up the full height of the container */
  box-sizing: border-box; /* Include padding and borders in width/height calculations */
}

.new-day {
  color: #fff;
  font-size: 9px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 100;
  padding: 2px 4px;
  border-radius: 3px;
}

.highlight {
  background-color: var(--primary-color); /* Primary highlight color */
  color: #fff;
}

.midnight-highlight {
  background-color: var(--primary-color); /* Secondary highlight color for midnight */
}

.nighttime-highlight {
  background-color: var(--primary-color); /* Ternary highlight color for 10 PM to 7 AM */
}

.current-time-indicator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: transparent;
  /*border-left: 2px dotted var(--secondary-color);*/
  pointer-events: none;
  z-index: 10;
  transition: left 0.15s ease-in-out;
}
